@page
@model InformationModel

@{
    ViewData["Title"] = "Довідка";
}

<div class="card shadow">
    <div class="card-body">
        <h5 class="text-center card-title">
            <p>Інформація про використання додатку</p>
        </h5>
        <div class="col-md-12 card-text">
            <p>Веб-застосунок «Конференц-сервіс» забезпечує інформування учасників конференції щодо запланованих доповідей та доповідачів.</p>
            <p>Доповіді розбито по днях тижня та відсортовано по годинах проведення.</p>
            <p>Для отримання інформації про окрему доповідь, необхідно натиснути на відповідне гіпер-посилання із назвою доповіді.</p>
            <p>Для отримання інформації про доповідача, його біографічну довідку та доповіді, в яких він бере участь, необхідно перейти за гіпер-посиланням з ім’ям відповідного доповідача.</p>
        </div>
        <div>
            <p class="alert alert-danger text-center card-footer">
                Для належного використання застосунка необхідна остання версія будь-якого веб-браузера та стабільне інтернет-з’єднання.
            </p>
        </div>
    </div>

</div>